.modal-container {
  
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  min-width: 30%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fechar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid white;
  position: absolute;
  top: -30px;
  right: -30px;
  background: #E54;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
  color: white;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.form-edit {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 30px;
  border-radius: 8px;
  background-color: #9291b1;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);

  & .label-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    & label {
      font-size: 1.3rem;
      font-weight: bold;
      color: #262749;
    }

    & input {
      display: inline-block;
      width: 100%;
      padding: 12px;
      box-sizing: border-box;
      border: none;
      font-size: 18px;
      border-radius: 4px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
    }
  
    & input:focus {
      outline: none;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13), 0px 0px 0px 2px #00021875;
    }
  }

  .btn-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20%;

    & button {
      width: 50%;
      padding: 14px 24px;
      border: none;
      border-radius: 4px;
      background-color: #262749;
      color: #FFF;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 1.875px;
      text-align: center;
      cursor: pointer;
      transition: .2s;
    }
  
    & button:hover {
      opacity: .7;
      transform: scale(1.075);
    }

    & .btn-voltar {
      color: #262749;
      font-weight: bold;
      background-color: transparent;
    }
  }

}